.vercel
SUPABASE_URL=https://kwpilnxudzmfbdutopww.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3cGlsbnh1ZHptZmJkdXRvcHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI2NDQxMzYsImV4cCI6MjA1ODIyMDEzNn0.7s2T9PWkGhTL2na5Jj_3TC-zMN-nJ-i6zgDlRg1cetM
JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc0MjY2Nzk1MiwiaWF0IjoxNzQyNjY3OTUyfQ.MItRr6Q8mvIM1_RZ5DQRV9I0ZMdHk18hhzfY7BsK1aU